@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,121,9,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
  margin-top: 7rem;
}
.hola{
  margin: 0 auto;
}